---
import Layout from "../layout/index.astro";

import { users, animals, games } from "../config/index.ts";
---

<Layout>
  <div class="container mt-5">
    <h2 class="mb-3">Usuários</h2>
    <button
      type="button"
      class="btn btn-primary"
      data-bs-toggle="modal"
      data-bs-target="#modalUsuario"
    >
      Novo Usuário
    </button>
    <div class="modal fade" id="modalUsuario" tabindex="-1" aria-hidden="true">
      <div class="modal-dialog modal-xl">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Usuário</h1>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form id="user-form">
              <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input
                  type="email"
                  class="form-control"
                  placeholder="email"
                  name="email"
                  required
                />
              </div>
              <div class="mb-3">
                <label for="nome" class="form-label">Nome</label>
                <input
                  type="text"
                  class="form-control"
                  placeholder="nome"
                  name="nome"
                  required
                />
              </div>
              <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label"
                  >Senha</label
                >
                <input
                  type="password"
                  class="form-control"
                  id="password"
                  required
                />
              </div>
              <div class="mb-3">
                <label for="profilePhoto" class="form-label"
                  >Foto de perfil</label
                >
                <input class="form-control" type="file" id="profilePhoto" />
              </div>
              <button type="submit" class="btn btn-outline-success"
                >Adicionar</button
              >
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-bs-dismiss="modal"
              >Fechar</button
            >
          </div>
        </div>
      </div>
    </div>

    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nome</th>
          <th scope="col">Ações</th>
        </tr>
      </thead>
      <tbody id="user-table">
        {
          users.map((user) => (
            <tr>
              <th scope="row">{user.id}</th>

              <td>{user.name}</td>
              <td>
                <button class="btn btn-secondary btn-sm me-2">Editar</button>
                <button class="btn btn-danger btn-sm">Deletar</button>
              </td>
            </tr>
          ))
        }
      </tbody>
    </table>

    <!-- Animals Section -->
    <h2 class="mb-3">Animais</h2>
    <button
      type="button"
      class="btn btn-primary"
      data-bs-toggle="modal"
      data-bs-target="#modalAnimal"
    >
      Novo Animal
    </button>
    <div class="modal fade" id="modalAnimal" tabindex="-1" aria-hidden="true">
      <div class="modal-dialog modal-xl">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Animal</h1>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form id="animal-form" class="mb-3">
              <div class="mb-3">
                <label for="nome" class="form-label">Nome</label>
                <input
                  type="text"
                  class="form-control"
                  placeholder="nome"
                  required
                />
              </div>
              <div class="mb-3">
                <label for="nome-cientifico" class="form-label"
                  >Nome Cientifico</label
                >
                <input
                  type="text"
                  class="form-control"
                  placeholder="nome-cientifico"
                  required
                />
              </div>
              <div class="mb-3">
                <label for="quantidade-individuos" class="form-label"
                  >Quantidade de individuos</label
                >
                <input
                  type="number"
                  name="quantidade-individuos"
                  class="form-control"
                />
              </div>
              <div class="mb-3">
                <label for="classe" class="form-label">Classe</label>
                <select class="form-select" aria-label="classe">
                  <option value="Mamifero">Mamifero</option>
                  <option value="Ave">Ave</option>
                  <option value="Reptil">Reptil</option>
                  <option value="Anfibio">Anfibio</option>
                  <option value="Peixe">Peixe</option>
                  <option value="Invertebrados">Invertebrados</option>
                </select>
              </div>
              <div class="mb-3">
                <label for="descricao" class="form-label">Descrição</label>
                <textarea
                  name="descricao"
                  cols="30"
                  rows="10"
                  class="form-control"></textarea>
              </div>
              <button type="submit" class="btn btn-outline-success"
                >Adicionar</button
              >
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-bs-dismiss="modal"
              >Fechar</button
            >
          </div>
        </div>
      </div>
    </div>

    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nome</th>
          <th scope="col">Ações</th>
        </tr>
      </thead>
      <tbody id="animals-table">
        {
          animals.map((animal) => (
            <tr>
              <th scope="row">{animal.id}</th>
              <td>{animal.name}</td>

              <td>
                <button class="btn btn-secondary btn-sm me-2">Editar</button>
                <button class="btn btn-danger btn-sm">Deletar</button>
              </td>
            </tr>
          ))
        }
      </tbody>
    </table>

    <!-- Games Section -->
    <h2 class="mb-3">Jogos</h2>
    <button
      type="button"
      class="btn btn-primary"
      data-bs-toggle="modal"
      data-bs-target="#modalJogo"
    >
      Novo Jogo
    </button>
    <div class="modal fade" id="modalJogo" tabindex="-1" aria-hidden="true">
      <div class="modal-dialog modal-xl">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Jogo</h1>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form id="game-form" class="mb-3">
              <div class="mb-3">
                <label for="nome" class="form-label">Nome</label>
                <input
                  type="text"
                  class="form-control"
                  placeholder="nome"
                  required
                />
              </div>

              <div class="mb-3">
                <label for="Dificuldade" class="form-label">Dificuldade</label>
                <select class="form-select" aria-label="Dificuldade">
                  <option value="facil">Fácil</option>
                  <option value="medio">Médio</option>
                  <option value="dificil">Díficil</option>
                </select>
              </div>
              <div class="mb-3 container">
                <label for="Animais" class="form-label">Animais</label>
                <div class="row flex-wrap">
                  {
                    animals.map((animal) => (
                      <div class="form-check form-switch col">
                        <input
                          class="form-check-input"
                          type="checkbox"
                          value={animal.name}
                          role="switch"
                          name="animais[]"
                        />
                        <label class="form-check-label" for={animal.name}>
                          {animal.name}
                        </label>
                      </div>
                    ))
                  }
                </div>
              </div>
              <button type="submit" class="btn btn-outline-success"
                >Adicionar</button
              >
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-bs-dismiss="modal"
              >Fechar</button
            >
          </div>
        </div>
      </div>
    </div>

    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nome</th>
          <th scope="col">Ações</th>
        </tr>
      </thead>
      <tbody id="animals-table">
        {
          games.map((game) => (
            <tr>
              <th scope="row">{game.id}</th>
              <td>{game.title}</td>

              <td>
                <button class="btn btn-secondary btn-sm me-2">Editar</button>
                <button class="btn btn-danger btn-sm">Deletar</button>
              </td>
            </tr>
          ))
        }
      </tbody>
    </table>
  </div>

  <script is:inline>
  document
    .getElementById("user-form")
    .addEventListener("submit", function (e) {
      e.preventDefault();
    });

  document
    .getElementById("animal-form")
    .addEventListener("submit", function (e) {
      e.preventDefault();
    });

  document
    .getElementById("game-form")
    .addEventListener("submit", function (e) {
      e.preventDefault();
    });
  </script>
</Layout>

<style>
  .checkbox-group {
    flex-wrap: wrap;
  }
</style>
