---
import Layout from "../layout/index.astro";
import Card from "../components/animal_card.astro";
import type { Props as CardProps } from "../components/animal_card.astro";

import { animals as cards } from "../config/index.ts";

const sortedCards = cards.sort(function (a, b) {
  if (a.name < b.name) return -1;
  if (a.name > b.name) return 1;
  return 0;
});
---

<Layout>
  <div class="my-5">
    <form class="d-flex mb-3" role="search" id="search-form">
      <input
        class="form-control me-2"
        type="search"
        placeholder="Pesquisar"
        aria-label="Pesquisar"
      />
      <button class="btn btn-outline-success" type="submit">Pesquisar</button>
    </form>
    <div>
      {
        sortedCards.map((card) => (
          <Card
            name={card.name}
            scientific_name={card.scientific_name}
            animal_class={card.animal_class}
            risk_of_extinction={
              card.risk_of_extinction as CardProps["risk_of_extinction"]
            }
            image={card.image}
            description={card.description}
          />
        ))
      }
    </div>
  </div>

  <script>
    document.addEventListener("DOMContentLoaded", function () {
      const form = document.getElementById("search-form");
      if (!form) return;
      form.addEventListener("submit", function (event) {
        event.preventDefault();
        const search = form.querySelector("input")?.value;
        if (!search) {
          const cards = document.querySelectorAll(".card");
          cards.forEach(function (card) {
            card.classList.remove("d-none");
          });
          return;
        }
        const cards = document.querySelectorAll(".card");
        cards.forEach(function (card) {
          const name = card.querySelector(".card-title")?.textContent;
          if (!name) return;
          if (name.toLowerCase().includes(search.toLowerCase())) {
            card.classList.remove("d-none");
          } else {
            card.classList.add("d-none");
          }
        });
      });
    });
  </script>
</Layout>
